<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Edit Your Profile</h1>
<form action="" method="post" name="edit" role="form">
	{{form.hidden_tag()}}
	<div class="form-group">
		<label for="nickname">Nickname: </label>
		{{form.username(class="form-control", readonly="readonly")}}
	</div>
	<div class="form-group">
		<label for="about_me">About yourself: </label>
		{{form.about_me(class="form-control", cols=32, rows=4)}}
	</div>
	<div class="form-group">
		<label for="avatar">Avatar: </label>
		{{form.avatar()}}
	</div>
	<button class="btn btn-default" type="submit">Submit</button>
	<button class="btn btn-default" >Cancel</button>
</form>
{% endblock %}
