<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" name="login" class="form-horizontal" role="form">
	{{form.hidden_tag()}}
    <div class="form-group">
        <label for="username" class="col-md-1 control-label">Username</label>
        <div class="col-md-4">
            {{form.username(maxlength=10, placeholder="Username", class="form-control", id="username")}}
            {% for error in form.username.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-md-1 control-label">Email</label>
        <div class="col-md-4">
            {{ form.email(maxlength=20, placeholder="Email", class="form-control", id="email") }}
            {% for error in form.email.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label for="code" class="col-md-1 control-label">Code</label>
        <div class="col-md-4">
            <div class="form-inline">
                <img src="{{ url_for('code') }}" alt="code" id="code" title="点击更换验证码">
                {{ form.code(maxlength=10, placeholder="Code", class="form-control", id="code", style="float: right")}}
            </div>
            {% for error in form.code.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-4">
            <p>{{ form.remember_me}} Rember Me</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-4">
            <button type="submit" class="btn btn-default">Sign In</button>
        </div>
    </div>
</form> 
<script type="text/javascript">
    $("#code").click(function() {
        $("#code").attr('src', "{{ url_for('code') }}?" + Math.random());
    });
</script>
{% endblock %}

