<nav>
    <ul class="pager">
        {% if posts.has_prev %}
            <li class=""><a href="{{ url_for('index', page = posts.prev_num) }}">&larr; Older</a></li>
        {% else %}
             <li class=" disabled"><a href="javascript:;">&larr; Older</a></li>
        {% endif %}
        
         {% if posts.has_next %}
            <li class=""><a href="{{ url_for('index', page = posts.next_num) }}">Newer &rarr;</a></li>
        {% else %}
             <li class=" disabled"><a href="javascript:;">Newer &rarr;</a></li>
        {% endif %}
    </ul>
</nav>
