<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div>
	<div class="col-md-2">
		<img src="{{user.avatar()}}" style="width:120px; height:120px">
	</div>
	<div class="col-md-6">
		<table >
			<tr>
				<td><p>User: </p></td><td><p>{{ user.nickname }}</p></td>
			</tr>
			<tr>
				<td><p>About me: </p></td>
				{% if user.about_me %}
				<td><p>{{ user.about_me }}</p></td>
				{% endif %}
			</tr>	
			<tr>
				<td><p>Last seen on: </p></td>
				{% if user.last_seen %}
				<td><p>{{ user.last_seen }}</p></td>
				{% endif %}
			</tr>
			<tr>
				<td><p>followers: </p></td>
				<td><p>{{ user.followers.count() }}</p></td>
			</tr>
			<tr>
				<td>
				{% if user.id == g.user.id %}
					<a href="{{url_for('edit')}}">Edit</a>
				{% elif not g.user.is_followeing(user) %}
					<a href="{{url_for('follow', nickname = user.nickname)}}">Unfollow</a>
				{% else %}
					<a href="{{url_for('unfollow', nickname = user.nickname)}}">Follow</a>
				{% endif %}
				</td>
			</tr>
		</table>
	</div>
</div>

<div>
	<!-- posts is a Paginate object -->
	<table class="table">
	<tbody>
	{% for post in posts.items %}
		{% include 'post.html' %}
	{% endfor %}
	</tbody>
	</table>

	{% if posts and posts.items %}
	    {% include 'paginator.html' %}
	{% endif %}

</div>



{% endblock %}
